.body {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}

.card {
    margin: 2em;
    overflow-wrap: break-word;

}

.ant-card-head-title {
    white-space: pre-wrap;
}

.type-title, .author-title, .num-comments-title, .posted-title {
    font-weight: bold;
    margin-right: .5em;

}

.type, .author, .num-comments, .posted {
    display: flex;
}